<div class="title-div" width="100%">
    <h1>{{title}}</h1>
  </div>

  <div *ngFor="let item of paragraphs; let i = index">
    
    <div class="row screen-size blue" *ngIf="isEven(i)">
        
      <div class="col-md-2">
          
      </div>

      <div class="col-md-3">
        <div class="text-spacer">
          <h3>{{item.title}}</h3>
          {{item.text}}
        </div>
      </div>

      <div class="col-md-2">
          
      </div>

      <div class="col-md-3">
          <img class="text-spacer" [src]="item.imageurl" width="100%">
      </div>
      <div class="col-md-2">
          
      </div>
      
    <br>
    <br>
    <br>
    </div>

    <div class="row screen-size white" *ngIf="!isEven(i)">
        <div class="col-md-2">
          
        </div>

        <div class="col-md-3">
            <img class="text-spacer" [src]="item.imageurl" width="100%">
        </div>

        <div class="col-md-2">
          
        </div>

        <div class="col-md-3 text-right">
            <div class="text-spacer">
                <h3>{{item.title}}</h3>
                {{item.text}}
              </div>
        </div>

        <div class="col-md-2">
          
        </div>
       <br>
      <br>
      <br>
      </div>
     
  </div>
      