/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "https://www.w3.org/TR/css-scroll-snap-1/";
html, body { 
    background-color: rgb(241, 241, 241);  
    height:100%;
}

.navbar-brand {
    width: auto;
    text-align: center;
    margin:0 auto;
  }

img {
    border-radius: 3%;
}

.text-spacer{
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
}

.title-div{
    margin: auto;
    text-align: center;
}

.screen-size{
    height: 101vh;
    width: 100%;
}

.white{
    background-color: rgb(241, 241, 241);
}

.blue{
    background-color: rgb(106, 125, 209);
}

.container{
    scroll-snap-type: both mandatory;
}

.container div {
    scroll-snap-destination: start;
  
}